.container {
  margin-bottom: 15px;

  :global {
    .l1-bg {
      background: #9be9a8 !important;
    }

    .l2-bg {
      background: #40c463 !important;
    }

    .l3-bg {
      background: #30a14e !important;
    }

    .l4-bg {
      background: #216e39 !important;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
  background: #ebedf0;
  outline: 1px solid rgba(27, 31, 35, 0.06);
  outline-offset: -1px;
}
