.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.icon {
  margin-right: 5px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
