.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.radios {
  text-align: right;
}

.label {
  margin-bottom: 10px;
}

.finished {
  :global {
    h6,
    .semi-card-body {
      color: #fff;
    }
  }
}

.input {
  margin-bottom: 20px;
}

.marginBottom {
  margin-bottom: 20px;
}

.light {
  color: #000;
}

.dark {
  color: #fff;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.sentences {
  margin-left: 10px;
}