.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.radios {
  text-align: right;
}

.finished {
  :global {
    h6,
    .semi-card-body {
      color: #fff;
    }
  }
}
