.container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  background: #f1f1f1;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.btn {
  margin-left: 10px;
  cursor: pointer;
}

.link {
  word-break: break-all;
}

.fixed {
  position: absolute;
  right: 10px;
  display: flex;
}
