.container {
  margin-bottom: 15px;
}

.light {
  color: #000;
}

.dark {
  color: #fff;
}

.box {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
}

.item {
  cursor: pointer;
  padding: 10px;
}

.active {
  font-weight: bold;
}
